body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  header h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }
  
  footer h1 {
    font-size: 1.5em; 
    font-weight: normal; 
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
  }
  
  main {
    max-width: 100%;
    background-color: #ffffff;
  }

  nav {
    padding: 3%;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: column; 
  }
  
  nav h1 {
    font-size:xx-large;
    text-align: center;
  }
  
  nav img {
    max-width: 100%;
    max-height: 100%;
  }
 
  #apiButton {
    border: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #007bff; 
  }

  #allFilmsButton {
    border : #808080;
    color:#fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #808080; 
  }
  

  ul {
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 35px;
    background-color:#ffff
  }
  
  li {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px #0000001a;
    border: 1px solid #ddd;
  }
  
  li img {
    width: 100%;
    height: auto;
  }
  
  li div {
    padding: 0px;
  }

  .film-details {
    padding: 15px;
    
  }
  
  .film-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  #view {
    border: 1px solid #4a4949c9;
    background-color:#fffafa;
    color : #4a4949c9;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  
  #original_title {
    text-align: right;
    font-size: small;
  }
  
  #filmeTitre_Director{
    font-size: medium;
  }